<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipt</title>
        {% load static%}
    <link rel="stylesheet" href="{% static 'main_header.css'%}">
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    {%include "header.html" %}
    <form class='form' action="main_sale_recipt_page" method="POST">
        {% csrf_token %}
        product id : <input type="text" placeholder="product id" name="product_id">
        <br>
        <br>
        quantity : <input type="number" step=0.01 min=".01" placeholder="product quantity" name="product_quantity">
        <input type="submit" value="add_item" name="submit">
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Unity</th>
                    <th>Total_pricr</th>
                    <th>remove</th>
                </tr>
            </thead>
            <tbody>
                {%for key,value in table_items.items %}   
                   <tr>
                        <td>{{value.p_name}}</td>
                        <td>{{value.quantity}}</td>
                        <td>{{value.price}}</td>
                        <td>{{value.unity}}</td>
                        <td>{{value.total_price}}</td>
                        <td>
                            <a href="http://127.0.0.1:8000/recipt/main_sale_recipt_page?remove={{value.id}}">Delete</a>
                        </td>
                    </tr>
                    {%endfor%}
                <tr>
                    <td>total_price</td>
                    <td colspan="5" align = "center">{{total_price}}</td>
                </tr>
            </tbody>
        </table>
         <input type="submit" value="add_recipt" name="submit">
    </form>
    {%if Error %}
        <div>{{Error}}</div>
    {%endif%}
</body>

</html>