
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipt</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'main_header.css'%}">
   <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            text-decoration: none;
        }
        @media screen and (max-width: 1000px) {
          .column {
            width: 80%;
            margin-left:10%
            display: block;
            margin-bottom: 20px;
          }
        }
    </style>
</head>

<body>
    {% include "header.html" %}
     <div class = "get-box ">
    <h2>All sales recipt</h2>
       {%for value in recipt%}
            <div class='column'>
                <div class='card'>
                    <a style="color: black; text-decoration: none;" href="get_one_recipt?id={{value.0.0}}">
                    <h3> recipt ID : {{value.0.0}}</h3>
                    <h4> toal price : {{value.0.2}}</h4>
                    <h4> toal profit : {{value.0.1}}</h4>
                    <h3> date : {{value.1.1}}</h3>
                    </a>
                </div>
            </div>
        {%endfor%}
        </div>
</body>

</html>