<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>product</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'main_header.css'%}">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            text-decoration: none;
        }
        @media screen and (max-width: 1000px) {
          .column {
            width: 80%;
            margin-left:10%
            display: block;
            margin-bottom: 20px;
          }
        }
    </style>
</head>

<body>
    {% include 'header.html'%}
    <div class = "get-box ">
    <h2>All Product in Shop</h2>
        {% for product in products_information %}
            <div class='column'>
                <div class='card'>
                    <a style="color: black; text-decoration: none;" href="get_One_product?id={{product.0}}">
                        <h3> Name  : {{product.1}}</h3>
                        <p>  Type  : {{product.3}} </p>
                        <p>  Price : {{product.2}} </p>
                        <p> Import price : {{product.6}} </p>
                        <p> Unity : {{product.7}} </p>
                        <p> Pakageg Pecies : {{product.8}} </p>
                        <p> quantity In Market : {{product.4}} </p>
                        <p> Quantity In Store : {{product.5}} </p>
                        <h3>ID: {{product.0}} </h3>
                    </a>
                </div>
            </div>
        {%endfor%}
    </div>
</body>

</html>