<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>supplier</title>
        {% load static%}
    <link rel="stylesheet" href="{% static 'main_header.css'%}">
     <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            text-decoration: none;
        }
        @media screen and (max-width: 1000px) {
          .column {
            width: 80%;
            margin-left:10%
            display: block;
            margin-bottom: 20px;
          }
        }
    </style>
</head>

<body>
    {% include 'header.html'%}
     <div class = "get-box ">
    <h2>  All suppliers</h2>
        {% for value in suppliers_information%}
            <div class='column'>
                <div class='card'>
                    <a style="color: black; text-decoration: none;" href="get_One_supplier?id={{value.0}}">
                        <h3>Name : {{value.1}}</h3>
                        <p>Email : {{value.2}}</p>
                        <h3>Id : {{value.0}}</h3>
                    </a>
                </div>
            </div>
       {% endfor %}
    </div>
</body>

</html>