<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>out come</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'main_header.css'%}">
     <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            text-decoration: none;
        }
        @media screen and (max-width: 1000px) {
          .column {
            width: 80%;
            margin-left:10%
            display: block;
            margin-bottom: 20px;
          }
        }
    </style>
</head>

<body>
    {% include 'header.html'%}
    <div class="get-box">
    {%if Error%}
        <h2>you don't sale or buy any product yet</h2>
    {%else%}
        <h2>All outcome </h2>
            {% for value in out_come %}
                <div class='column'>
                    <div class='card'>
                        <h3> purchases  : {{value.0}}</h3>
                        <h3>  sales  : {{value.1}} </h3>
                        <h3>  total_profits : {{value.2}} </h3>
                        <h3> Month_Name : {{value.3}} </h3>
                    </div>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</body>

</html>