<div>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">
                <a href="http://127.0.0.1:8000">Home</a>
            </button>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Product</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/product/create_product?new=true">Create Product</a>
                <a href="http://127.0.0.1:8000/product/get_All_product">Get Product</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Suppliers</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/supplier/create_supplier?new=true">Create Suppliers</a>
                <a href="http://127.0.0.1:8000/supplier/get_All_supplier">Get Suppliers</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Recipt</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/recipt/create_recipt?status=sale">Create Sale Recipt</a>
                <a href="http://127.0.0.1:8000/recipt/create_recipt?status=purchase">Create Purchase Recipt</a>
                <a href="http://127.0.0.1:8000/recipt/get_all_recipt?status=sale">Get Sale Recipt</a>
                <a href="http://127.0.0.1:8000/recipt/get_all_recipt?status=purchase">Get Purchase Recipt</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Out come</button>
            <div class="dropdown-content">

                <a href="http://127.0.0.1:8000/outcom/get_All_out_com">Get Out come</a>
            </div>
        </div>
    </div>
</div>