<style>
    .navbar {
        overflow: hidden;
        background-color: #333;
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<div>
    <div class="navbar">
        <a href="http://127.0.0.1:8000">super market</a>
        <div class="dropdown">
            <button class="dropbtn">Product</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/product/create_product?new=true">Create Product</a>
                <a href="http://127.0.0.1:8000/product/get_All_product">Get Product</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Suppliers</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/supplier/create_supplier?new=true">Create Suppliers</a>
                <a href="http://127.0.0.1:8000/supplier/get_All_supplier">Get Suppliers</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Recipt</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/recipt/create_recipt?status=sale">Create Sale Recipt</a>
                <a href="http://127.0.0.1:8000/recipt/create_recipt?status=purchase">Create Purchase Recipt</a>
                <a href="http://127.0.0.1:8000/recipt/get_all_recipt?status=sale">Get Sale Recipt</a>
                <a href="http://127.0.0.1:8000/recipt/get_all_recipt?status=purchase">Get Purchase Recipt</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Out come</button>
            <div class="dropdown-content">

                <a href="http://127.0.0.1:8000/outcom/get_All_out_com">Get Out come</a>
            </div>
        </div>
    </div>
</div>